.kaufman {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: black; 
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .section__title_theme_dark {
    width: 60%;
    height: auto;
    text-align: center;
    margin-block-end: 20px;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    color: white;
  }

  .section__subtitle_theme_dark {
    width: 60%;
    height: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    color: white;
  }

  .table_theme_dark {
      width: 1100px;
      display: flex;
      margin: auto;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-between;
  }

  .table__cell_theme_dark {
      margin-top: 80px;
      width: 200px;
      align-items: center;
      color: white;
      margin-right: 0;
  }

  .table__heading_theme_dark {
      margin-bottom: 20px;
      line-height: 1.15;
      font-size: 24px;
      font-weight: bold;

  }

  .table__text_theme_dark {
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;

  }