.footer {
    background-color: #1f1f1f;
    min-height: 350px;
    display: flex;
    justify-content: center;
}



.footer__colums_content_copyright {
    display: flex;
    flex-direction: column;
    flex-basis: 711px;
    justify-content: space-between;
}

.logo__place_footer {
    width: 183px;
    height: 32px;
  }  

.footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: white;
}

.footer__column-heading {
    margin: 0;
    line-height: 18px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.footer__column-links {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 16px;
    display: table;
    flex-direction: column;
    line-height: 18px;
    font-size: 18px;
    font-weight: normal

}

.footer__column-link {
    color: white;
    text-decoration: none;
    margin-bottom: 5em;

}

li {
    margin-bottom: 10px;
}